
body { background:   rgb(255,255,255)  ;
       margin-left:  0.0% ; 
       margin-right: 0.0% ;
       margin-top:   0.0% ; 
       font-family:  Arial ; 
       font-size:    90% ; }

pre { font-family: Arial; }

  :link    { color: rgb(0, 0, 0); }   /* for unvisited links */
  :visited { color: rgb(0, 0, 0); }   /* for visited links */
  a:active { color: rgb(0, 0, 0); }   /* when link is clicked */
  a:hover  { color: rgb(255, 0, 0); } /* when mouse is over link */

  a.plain {text-decoration: none ; }

  a.red {text-decoration: none ;
         color: rgb(255, 0, 0) ; }

h4 {font-size:    90% ;
    font-faminly: Arial;
    margin-top:   -3%em ;
    margin-left:  1.5em ;
    color: black; }

h5 {font-size:    90% ;
    font-faminly: Arial;
    margin-top:   1.0em ;
    margin-left:  1.5em ;
    margin-bottom: 0.0em;
    color: red; }

h6 {font-size:    100% ;
    font-faminly: Arial;
    margin-top:   0.9em ;
    margin-left:  1.4em ;
    margin-bottom: 0.0em ;
    color: red; }

h4.name {margin-top: 1.5em;
         margin-left:  1.5em ;
         margin-bottom: 0em ;
         margin-right: 3em% ; 
         font-family: Arial ; 
         font-size: 100% ;
         color: black ; }

p.intro {margin-top:    1.0em;
         margin-left:   1.5em ;
         margin-bottom: 0em ;
         margin-right:  1em ; 
         font-size:     90% ;
         color:         black ; }

p.introsmall {margin-top:    1.0em;
         margin-left:   1.5em ;
         margin-bottom: 0em ;
         margin-right:  1em ; 
         font-size:     80% ;
         color:         black ; }
 
p.addr { margin-top:      -3% ;
         margin-left:   2.5em ;
         margin-bottom: 0em ;
         margin-right:  1em ; 
         font-size:     90% ;
         color:         black ; }

p.index { margin-left:   1.5em ; 
          margin-right:  0em ; 
          margin-top:    1.0em ; 
          margin-bottom: 1.0em ;
          font-size:     90% ; }

p.index_out { margin-left:   1.1em ; 
          margin-right:  0em ; 
          margin-top:    1.0em ; 
          margin-bottom: 0.0em ;
          font-size:     90% ; 
          color:         rgb(42, 69, 118); }

p.index_select { margin-left: 1.5em ; 
          margin-right:  0em ; 
          margin-top:    1.0em ; 
          margin-bottom: 1.0em ;
          font-size:     90%  ;
          font-weight:   bold ; }

p.index_impr { margin-left: 1.3em ; 
          margin-right:  0em ; 
          margin-top:    1.0em ; 
          margin-bottom: 1.0em ; 
          font-size:     75% ; 
          color:         rgb(42, 69, 118) ;}

table.people {font-size:    80% ;
              margin-left:  1.5em ;
              margin-right: 1.0em;
              border-color: rgb(220,220,220) ;
              border-width: 0 ;
              background:   white ; }

table.years {font-size:  90% ;
            margin-top:  1.0em ;
            margin-left: 1.5em ;
            background:  white ; }

table.publ {font-size:    80% ;
            margin-top:  -2% ;
            margin-left:  1.1em ;
            border-width: 1 ;
            background:   white ; }

table.cv {font-size:    90% ;
            margin-top:  -2% ;
            margin-left:  1.2em ;
            margin-right: 8em ;
            border-width: 0 ;
            background:   white ; }

td.pict_p {padding-top:   0.0em ;
           padding-right: 0.0em ; 
           padding-left:  0.0em ;
           padding-bottom: 0.0em ;}

td.addr_p {padding-top:   0.0em ;
           padding-right: 0.0em ; 
           padding-left:  3.0em ;
           font-size:     90% ;}

td.fett {font-weight: bold ; }

#three-column-system{
    column-count: 3;
}

#two-column-system{
    column-count: 2;
}

.blocksatz {
    text-align: justify;
}

img {
    max-width: 100%;
    max-height: 100%;
}

div.header {
    background: rgb(220,220,220) ;
    padding:    0em ;
    border:     none ;
}

.cricle-container {
    height: 400px;
    background-color: rgb(255, 255, 255);
}

.circle { 
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    line-height: 16px;
    border-radius: 100%;
    box-sizing: border-box;
    text-align: center;
    line-height: 150px;
}

.square {
    width: 250px;
    height: 250px;
    overflow: hidden;
    line-height: 16px;
    box-sizing: border-box;
    text-align: center;
    line-height: 150px;
    position: relative;
}

.text-package {
    margin-top: 16px;
}

.text-package > p {
    margin: 0;
}

.project-card {
    background-color: darkorange;
}

.image-container {
    color: rgb(22, 104, 175);
}

.image-container > img{
    position: relative;
}

.centered-project-biomolecular-titel > p {
    text-align: center;
}

.centered-project-interface-titel > p {
    text-align: center;
}

.spacer-div {
    height: 75px;
    width: 100%;
}

#biomolecular-titel {
    left: 50%;
}

#modelling-titel {
    color: red;
}

#interfaces-titel {
    color: blue;
}

#biomolecular-img-1 {
    position: relative;
    max-height: 250px;
    max-width: 250px;
    left: 821px;
    bottom: -650px;
}

#biomolecular-img-2 {
    position: relative;
    max-height: 250px;
    max-width: 300px;
    left: 771px;
    bottom: -1020px;
}

#biomolecular-img-3 {
    position: relative;
    max-height: 200px;
    max-width: 300px;
    left: 806px;
    bottom: -1385px;
}

#biomolecular-img-4 {
    position: relative;
    max-height: 390px;
    max-width: 390px;
    left: 681px;
    bottom: -1950px;
}

#biomolecular-img-5 {
    position: relative;
    max-height: 250px;
    max-width: 400px;
    left: 725px;
    bottom: -2650px;
}

#green-text {
    top: 75px;
    left: 50px
}

#red-text {
    top: -175px;
    left: 350px
}

#orange-text {
    top: -430px;
    left: 650px
}

#partner {
    position: relative;
    top: -50px;
    margin-top: 0%;
}

#biomolecular-div {
    height: 850px;

}

#modelling-div {
    height: 850px;

}

#interface-div {
    height: 850px;

}
